{{define "content"}}
<a href="/tickets/new">New Ticket</a>
<div class="row row-cols-1 g-4 col-sm-5">
    {{range .}}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{.Summary}}
                </p>
            </div>
            <div class="card-body">
                <div class="accordion" id="cardActions-{{.ID}}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="completeCard-{{.ID}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{.ID}}" aria-expanded="false" aria-controls="collapseOne-{{.ID}}">
                                Close
                            </button>
                        </h2>
                        <div id="collapseOne-{{.ID}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#cardActions-{{.ID}}">
                            <div class="accordion-body">

                                <form class="row g-2" action="/tickets/status/{{.ID}}" method="POST">
                                    <div class="row form-group">
                                        <label for="status" class="col-sm-3 col-form-label">Status:</label>
                                        <div class="col-sm-9">
                                            <select class="form-select" id="status" name="status" required>
                                                <option selected value="completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary">Looks good!</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
<div class="row col-sm-1"></div>
{{end}}