{{define "content"}}
<a href="/tickets/new">New Ticket</a>
<div class="row row-cols-1 g-4 col-sm-5">
    {{range .}}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{.Summary}}
                </p>
            </div>
            <div class="card-body">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmClose">
                    Complete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="confirmClose" tabindex="-1" aria-labelledby="confirmCloseLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmCloseLabel">Close Ticket?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <form class="row g-3" action="/tickets/modify/{{.ID}}" method="POST">
                                    <div class="row form-group">
                                        <label for="status" class="col-sm-3 col-form-label">Status:</label>
                                        <div class="col-sm-9">
                                            <select class="form-select" id="status" name="status" required>
                                                <option selected value="completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Looks good!</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Never mind</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
<div class="row col-sm-1"></div>
{{end}}